/*
 font-family: 'Montserrat', sans-serif;
 */
body{
	margin: 0px;
}
.logo {
	width: 244px;
    height: 79px;
    margin-left: 522px;
}

.contenedor{
	width: 100%;
	height: 100px;
	background: #e1e1e1;
	font-family: 'Montserrat', sans-serif;

}
h2{
	display: inline-block;
	margin-left: 20px;
}
#boton{
	display: inline-block;
}
select {
    margin-left: 52px;
    padding: 8px;
    width: 209px;
    font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
}
input#back {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 40px;
}

#cont{
	margin-left: 10px;
	display: inline-block;
}

#cont_div2{
	display: inline-block;
	margin-left: 0px;
}

#cont_div3{
	display: inline-block;
	margin-left: 600px;
	position: relative;
	bottom: 280px;
	left: 291px;
}
p{
	display: inline-block;
	color: grey;
	margin-left: 700px;
}