/*
 * Estilos de tu proyecto
 */
body{
	marging-left: 0px;
}
.logo {
	width: 244px;
    height: 79px;
    margin-left: 522px;
}

.contenedor{
	width: 100%;
	height: 100px;
	background: #e1e1e1;

}
h2{
	display: inline-block;
	margin-left: 20px;
}
#boton{
	display: inline-block;
}