/*
 font-family: 'Montserrat', sans-serif;
 */
body{
	margin: 0px;
}
.logo {
	width: 244px;
    height: 79px;
    margin-left: 522px;
}

.contenedor{
	width: 100%;
	height: 100px;
	background: #e1e1e1;
	font-family: 'Montserrat', sans-serif;

}
h2{
	display: inline-block;
	margin-left: 20px;
}

select {
    margin-left: 52px;
    padding: 8px;
    width: 209px;
    font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
}
input#back {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	width: 123px;
	height: 35px;
	font-weight: bolder;
	margin-left: 1162px;
	margin-top: -54px;
}
#container{
  margin-top: 30px;
  height: 380px;
}
#cont{
	margin-left: 10px;
	display: inline-block;
}

#cont_div2{
	display: inline-block;
	margin-left: 0px;
}

#cont_div3{
	display: inline-block;
	margin-left: 600px;
	position: relative;
	bottom: 280px;
	left: 291px;
}
p{
	display: inline-block;
	color: grey;
	margin-left: 700px;
}
li{
  /*outline: 1px solid red;*/
  width: 100px;
  /*display: inline-block;*/
  text-align: center;
  float: right;
}
ul{
  /*outline: 1px solid blue;*/
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 50px;
  overflow:hidden;
	margin-top: -50px;
}
a:hover{
  background: #FFBF00;
  color: #000;
}
a{
  /*outline: 1px solid green;*/
  text-decoration: none;
  color:black;
  display: block;
}

#conte{
  margin-left: 400px;
 height: 0px;
}

#cont1{
  display: inline-block;
}

#cont_div4{
  display: inline-block;
}

#cont_div5{
  display: inline-block;


}
.imge{
    margin-bottom: 80px;
}
.im{

  display: inline-block;

}

#container1{
  display: inline-block;
  margin-left: 90px;
}

#cont2{
  display: inline-block;
}

#cont_div7{
  display: inline-block;
}

#cont_div8{
  display: inline-block;
}
.fa-arrow-left:before {
    position: absolute;
    margin-left: -154px;
    content: "\f060";
    margin-top: -16px;
}
.ims{
  width: 300px;
  height: 200px;
  margin-left: 100px;
  display: inline-block;
 }
#cont4{
  display: inline-block;
  margin-top: 30px;
}


#container3{

  height: 500px;
}
#cont_div12{
  display: inline-block;
}

#cont_div13{
  display: inline-block;
  margin-left: 50px;
}

.ige{
  display: inline-block;
  margin-left: 32px;
  margin-bottom: 218px;
}
.ige_2{
  display: inline-block;
  display: inline-block;
  position: relative;
  left: 158px;
  bottom: 501px;
}
#cont_div14{
 display: inline-block;
 margin-left: 342px;
 margin-top: 78px;
 position: relative;
 left: 100px;
 bottom: 300px;
}

#cont_div15{
  display: inline-block;
  position: relative;
  left: 849px;
  bottom: 503px;

}
.students_num{
	position: absolute;
    width: 240px;
    height: 84px;
    background: #9a9a9a;
    color: #080707;
    font-size: 30px;
    margin-top: 338px;
}
p.num_box {
	letter-spacing: 1px;
		color: black;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}
